body:lang(zh-tw) {
  font-size: 15px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


#looking-up-location {
  display: none;
}

.loading #looking-up-location {
  display: inline-block;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  margin-left: 10px;
  vertical-align: -1px;
}

body:not(.has-reps) #locate-me-block > button {
  -webkit-transform: scale(2);
  transform: scale(2);
  margin: 2em 0;
}

@media (min-width: 768px) {
  .address-selector {
    width: 140px;
  }
  body:not(.has-reps) #locate-me-block {
    margin: 200px 0 100px 0;
    margin: 25vh 0 25vh 0;
  }
}

@media (max-width: 768px) {
  .pull-left {
    float: none !important;
  }
}

.rep img {
  width: 128px;
  margin: 1em;
  background: #ccc;
}